/*----------------- Main Page -------------------------*/
* {
    margin: 0;
  }
  *:focus {
    outline: 0 !important;
}
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
  }

/*------------------- Common Style -------------------*/
ul{
    list-style: none;
    display: flex;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.contain{
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
}

/*------------------- Logo Style ---------------------*/
.Search .logo{
  width: 268px;
  height: 86px;
  margin-bottom: 50px;
}
/*------------------ Search Style -------------------*/
.Search{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*------------------- Search Bar ------------------*/
.searchBar{
  margin-top: 10px;
  margin-bottom: 25px;
  width: 580px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #dfe1e5;
}
input{
  width: 500px;
  height: 45px;
  border-width: 0px;
  border-style: none;
}
.inputSpan{
  margin-left: 15px;
}
.searchBar:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.001), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

/*---------------------- style of button ------------------*/
.buttons{
  margin-bottom: 25px;
}
button{
  border-style: none;
  width: 140px;
  height: 35px;
  background-color: #f8f9fa;
}
button:hover{
  border-style: solid;
  border-color: #3c4043;
  border-width: 0.01px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #dfe1e5;
}

/*-------------------- footer --------------------------*/
.footer{
  position: absolute;
  bottom: 0;
}

.footerBottom{
  display: flex;
}

ul li{
  margin-left: 15px;
}
